<%- include('partials/header.ejs')  %>
<section id="services" class="services" >
    <div class="container-md section-title">
        <div class="text-center">
            <h1 style="color: black;margin: 5px;padding: 90px; padding-bottom: 2px; font-size: 2.5rem;"><b>We Offer Awesome Services</b></h1>
            <h4 style="text-align: center; margin-top: -7px;">Sustainable Solutions to your Problems </h4>
        </div>

         <div class="row" style="margin-top: 2.3rem;">
             <div class="col-12 text-center col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="text-center icon-box" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="4rem" height="4rem" fill="#3b70b4" class="bi bi-people-fill" viewBox="0 0 16 16">
                    <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
                    <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                    </svg>
                        <h4 class="title" style="padding: 0.5rem 0;">CONSULTATION<a href="#"></a></h4>
                     <p class="description" style="color: grey;">Let us help solve your problem.
                      We can be of service in: <br></p>
                      <ul style="font-size:13.6px; font-family: bell; color: gray;">
                        <li>Machine installation </li>
                        <li>Designing, fabricating,  and prototyping.</li>
                        <li>STEM related program development and design</li>
                        <li>Connect you to our collaborators</li>
                      </ul>
                        <p class="description" style="color: gray;"> SFL also provides help with research and development by exploring  innovative solutions.
</p>
                    </div>
                </div>
            </div>
            <div class="col-12 text-center col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="text-center icon-box" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="4rem" height="4rem" fill="#3b70b4" class="bi bi-tools" viewBox="0 0 16 16">
                            <path d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.356 3.356a1 1 0 0 0 1.414 0l1.586-1.586a1 1 0 0 0 0-1.414l-3.356-3.356a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0zm9.646 10.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708zM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11z"/>
                        </svg>
                        <h4 class="title" style="padding: 0.5rem 0;">REPAIR<a href="#"></a></h4>
                        <p class="description" style="color: grey;">SFL machines can be used for mending anything broken or for modifying products to meet your evolving needs.We have four labs with machines for metal works, carpentry, electronics, as well as advanced industrial heavy machinery which can be used for precision works.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 text-center col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="text-center icon-box" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="4rem" height="4rem" fill="#3b70b4" class="bi bi-gear-fill" viewBox="0 0 16 16">
                    <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
                    </svg>
                        <h4 class="title" style="padding: 0.5rem 0;">PROTOTYPING<a href="#"></a></h4>
                        <p class="description" style="color: grey;">Turn your ideas into reality.SFL will connect you  to cutting-edge digital fabrication technology.You can prototype your work and ideas using our digital fabrication technology.We have 3D printers,CNC machines, and an electronic production room for any kind of prototyping work. Our lab has machines that can work with any type of material fit for your product.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 text-center col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="text-center icon-box" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="4rem" height="4rem" fill="#3b70b4" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                    <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"/>
                    </svg>
                        <h4 class="title" style="padding: 0.5rem 0;">INCUBATION<a href="#"></a></h4>
                        <p class="description" style="color: grey;">SFL is a great place for a start-up. You will find all the resources required to nurture and  grow your idea into a product.You can find access to advisors, expertise, mentors, training, and also potential inventors. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="row mt-4" style=" margin-bottom: -2rem; margin-right: 2rem; margin-left: 2rem;">
  <!-- column  -->
  <div class="col-md-6 ml-auto pricing-box align-self-center">
    <div class="card mb-4" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
      <div class="card-body p-4 text-center">
        <h5 class="font-weight-normal">MEMBERSHIP</h5>
        <svg xmlns="http://www.w3.org/2000/svg" width="5rem" height="5rem" fill="#3b70b4" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
<path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
<path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
</svg>
 <p class="mt-4" style="color: grey;">Super Fab Lab is open community. It  is an innovative and collaborative space where anyone can make almost anything. Be part of SFL through our membership schemes and join the global network of fabbers.<br>
    We offer four membership schemes:<br>
    SFL youth<br>
    SFL Open<br>
    SFL Creator<br>
    SFL business
</p>
  </div>
     <a href="/register" class="joinbtn" style="margin:3rem; text-align: center; padding-bottom: 0.25rem;">Sign Up Now</a>
    </div>
  </div>
  <!-- column  -->
  <!-- column  -->
  <div class="col-md-6 ml-auto pricing-box align-self-center">
    <div class="card mb-4" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
      <div class="card-body p-4 text-center">
        <h5 class="font-weight-normal">RESOURCES</h5>
        <svg xmlns="http://www.w3.org/2000/svg" width="5rem" height="5rem" fill="#3b70b4" class="bi bi-file-earmark-pdf-fill" viewBox="0 0 16 16">
            <path d="M5.523 12.424c.14-.082.293-.162.459-.238a7.878 7.878 0 0 1-.45.606c-.28.337-.498.516-.635.572a.266.266 0 0 1-.035.012.282.282 0 0 1-.026-.044c-.056-.11-.054-.216.04-.36.106-.165.319-.354.647-.548zm2.455-1.647c-.119.025-.237.05-.356.078a21.148 21.148 0 0 0 .5-1.05 12.045 12.045 0 0 0 .51.858c-.217.032-.436.07-.654.114zm2.525.939a3.881 3.881 0 0 1-.435-.41c.228.005.434.022.612.054.317.057.466.147.518.209a.095.095 0 0 1 .026.064.436.436 0 0 1-.06.2.307.307 0 0 1-.094.124.107.107 0 0 1-.069.015c-.09-.003-.258-.066-.498-.256zM8.278 6.97c-.04.244-.108.524-.2.829a4.86 4.86 0 0 1-.089-.346c-.076-.353-.087-.63-.046-.822.038-.177.11-.248.196-.283a.517.517 0 0 1 .145-.04c.013.03.028.092.032.198.005.122-.007.277-.038.465z"/>
            <path fill-rule="evenodd" d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm5.5 1.5v2a1 1 0 0 0 1 1h2l-3-3zM4.165 13.668c.09.18.23.343.438.419.207.075.412.04.58-.03.318-.13.635-.436.926-.786.333-.401.683-.927 1.021-1.51a11.651 11.651 0 0 1 1.997-.406c.3.383.61.713.91.95.28.22.603.403.934.417a.856.856 0 0 0 .51-.138c.155-.101.27-.247.354-.416.09-.181.145-.37.138-.563a.844.844 0 0 0-.2-.518c-.226-.27-.596-.4-.96-.465a5.76 5.76 0 0 0-1.335-.05 10.954 10.954 0 0 1-.98-1.686c.25-.66.437-1.284.52-1.794.036-.218.055-.426.048-.614a1.238 1.238 0 0 0-.127-.538.7.7 0 0 0-.477-.365c-.202-.043-.41 0-.601.077-.377.15-.576.47-.651.823-.073.34-.04.736.046 1.136.088.406.238.848.43 1.295a19.697 19.697 0 0 1-1.062 2.227 7.662 7.662 0 0 0-1.482.645c-.37.22-.699.48-.897.787-.21.326-.275.714-.08 1.103z"/>
        </svg>
        <p class="mt-4" style="color: grey;">Our resources are open to everyone.You can find compilations of machine manuals, training resources, video tutorials. We also have a database of open-sourced past projects done in our lab.Additionally, you will be provided with helpful links to guide you through your learning journey.<br>Training resources<br> Machine manuals <br>Induction training resources<br> Video tutorials</p>
      </div>
      <a href="resourceinside" class="joinbtn" style="margin: 3rem; padding-bottom: 0.25rem;  text-align: center">Read more</a>
    </div>
  </div>
</div>

<div class="text-center" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
            <h1 style="color: black;margin: 5px; margin-top: 4rem; padding-bottom: 2px; font-size: 2.5rem; padding-top: 2rem;">Get In Touch</h1>
            <h3 style="text-align: center; margin-right: 5rem; margin-left: 5rem; font-size: 1.2rem; color: gray;">For inquiry on collaborations, job opportunities, internships, voluntary services, events and programs or anything else.<br>READ more about becoming out volunteer/internship programs </h3><br>
            <a class="joinbtn" href="#popup1">Contact Us</a><br><br><br>
</div>
<div id="popup1" class="overlay"><br><br>
	<div class="popup">
	
		<a class="close" href="#">&times;</a>
		<div class="content">
            <form name="downloadform" method="" action="#">
				
                <br><br>
                <h2 style="text-align: center;">Contact Us</h2>
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Enter your name" aria-label="Name" required>
                    </div>
                    <div class="col">
                      <input type="email" class="form-control" placeholder="Enter your email" aria-label="email" required autocomplete="off">
                    </div>
                    <div class="col">
                        <input type="number" class="form-control" placeholder="Enter your phone number" aria-label="Phone Number"required>
                      </div>
                    <div class="col">
                        <textarea class="form-control" aria-label="With textarea" placeholder="Message here" required></textarea>
                    </div><br>
                    <button class="joinbtn" type="submit" style="margin-left: 40%;">Submit</button>
                    <div><br>
            </form>
        </div>
	</div>
</div>

<style>
    .overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 2s ease-in-out;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
</style>
        </div>
        <%- include('partials/footer.ejs')  %>
       
</body>

</html>